<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.BookDao">

	<sql id="selectSql">
		select bkcode, isbn, rentable, bkname, author, publish, pubyear, info, loca_num from book
	</sql>
		
	<sql id="whereSql">
		<where>
			<if test="loca_num != null">
				loca_num = #{location.loca_num}
			</if>
			<if test="bkname != null">
				and bkname = #{bkname}
			</if>
		</where>
	</sql>
	
	<select id="selectBookStartAll" resultType="Book">
		select bkcode, isbn, rentable, bkname, author, publish, pubyear, info, loca_num, Count(*) from book 
		GROUP BY isbn HAVING COUNT(isbn) > 0 order by bkcode desc
	</select>
		
	<select id="selectBookAll" parameterType="Book" resultType="Book">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>

</mapper>



