<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.CategoryDao">

	<resultMap type="Category" id="CategoryResult">
		<id property="num" column="num"/>
		<result property="catename" column="catename"/>
		<result property="catesize" column="catesize"/>
		<result property="parentnum" column="parentnum"/>
	</resultMap>
	
	<select id="selectCategoryBig" parameterType="Category" resultMap="CategoryResult">
		select num, catename, catesize, parentnum from category where catesize = 0 order by num
	</select>
	
	<select id="selectCategoryMid" parameterType="Category" resultMap="CategoryResult">
		select num, catename, catesize, parentnum from category 
		where catesize = 1 and parentnum = #{parentnum} order by num
	</select>
	
</mapper>