<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.EmployeeDao">

	<resultMap type="Employee" id="EmployeeResult">
		<id property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="tel" column="tel"/>
		<result property="email" column="email"/>
		<result property="zipcode" column="zipcode"/>
		<result property="addr_id" column="addr_id"/>
		<result property="addr_de" column="addr_de"/>
	</resultMap>
	
	<resultMap type="Employee" id="EmployeeWithTitleResult" extends="EmployeeResult">
		<result property="title.titleno" column="ti"/>
		<result property="title.name" column="na"/>
		<result property="title.power" column="power"/>
	</resultMap>
	

	<sql id="selectSql">
		select code, e.name, pw, id, tel, email, zipcode, addr_id, addr_de, e.titleno as ti, t.name as na, t.power from employee e left outer join title t on e.titleno = t.titleno
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="studId != null">
				stud_id = #{studId}
			</if>
		</where>
	</sql>
	
	<select id="selectEmployeeByAll" parameterType="Employee" resultMap="EmployeeWithTitleResult">
		<include refid="selectSql" />
	</select>

</mapper>



