<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.IDPWsearchDao">
	<sql id="selectSql1">
		SELECT id, name, email
		FROM users		
	</sql>
	
	<sql id="selectSql2">
		SELECT id, pw, name, email
		FROM users		
	</sql>
	
	<sql id="whereSql1">
		<where>
			<if test="name != null">
				name = #{name}
			</if>			
			<if test="email != null">
				AND email = #{email}
			</if>	
		</where>
	</sql>
	
	<sql id="whereSql2">
		<where>
			<if test="name != null">
				name = #{name}
			</if>			
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="email != null">
				AND email = #{email}
			</if>	
		</where>
	</sql>
	
	<!-- 아이디 찾기 -->
	<select id="selectIdByName" resultType="User">
		<include refid="selectSql1" />	
		<include refid="whereSql1" />	
	</select>
	<!-- 비밀번호 찾기 -->
	<select id="selectIdEmail" resultType="User">
		<include refid="selectSql2" />	
		<include refid="whereSql2" />	
	</select>
	
	<select id="selectPwByNo" resultType="User">
		<include refid="selectSql2" />	
		<include refid="whereSql2" />	
	</select>
	
</mapper>