<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.ReserveDao">

	<resultMap type="Reserve" id="ReserveResult">
		<id property="re_no" column="re_no"/> 
		<result property="code" column="code"/>
		<result property="bkcode" column="bkcode"/>
		<result property="isbn" column="isbn"/>
		<result property="resday" column="resday"/>
		<result property="bkName" column="bkname"/>
		<result property="loca_num" column="loca_num"/>
	</resultMap>
	
	<select id="selectReserveByCode" parameterType="Reserve" resultMap="ReserveResult">
		select code, bkcode, isbn, resday 
		from reserve
		where code = #{code};
	</select>
	
	<select id="selectAllReserve" parameterType="Reserve" resultMap="ReserveResult">
		select code, bkcode, isbn, resday 
		from reserve
	</select>
	
	<select id="selectReserveNum" parameterType="Reserve" resultType="int">
		select count(isbn)
		from reserve
		where isbn = #{isbn}
	</select>
	
	<select id="selectalreadyReserve" parameterType="Reserve" resultMap="ReserveResult">
		select code, bkcode, isbn, resday 
		from reserve
		where code = #{code} and isbn=#{isbn};
	</select>
	
	<insert id="insertReserve" parameterType="Reserve">
		insert into reserve(code, bkcode, isbn, resday)
		values(#{code}, #{bkcode}, #{isbn}, #{resday})
	</insert>
	
	<!-- 예약 도서 검색 -->
	<select id="selectReserveBookByBkCode" parameterType="Reserve" resultMap="ReserveResult">
		select re_no, code, bkcode, isbn, resday
		from reserve
		where bkcode=#{bkcode};
	</select>
	
	<!-- 예약중인 도서 대여시 삭제 -->
	<select id="deleteReserveBookWithAPI">
		delete from Reserve where code=#{code} and bkcode=#{bkcode}
	</select>
	
	<!-- 분류별 예약 도서 검색 -->
	<sql id="whereAllSql">
		<where>
			<if test="bkName != null">
				bkname like #{bkName}
			</if>
			<if test="loca_num != null">
				and loca_num like #{loca_num}
			</if>
		</where>
	</sql>
	
	<select id="selectCategoryByReserve" parameterType="Reserve" resultMap="ReserveResult">
		select r.code, r.bkcode, r.isbn, r.resday, b.loca_num, b.bkname
		from reserve r left outer join book b on r.isbn=b.isbn
		<include refid="whereAllSql" />
		order by resday
	</select>
</mapper>