<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_1team.dao.TakeinoutDao">

	<!-- resultmap -->
	<resultMap type="Takeinout" id="TakeinoutResult">
<!-- 		<id property="inout_no" column="inout_no"/>
		<result property="user" column="code" />
		<result property="book" column="bkcode" /> -->
		<result property="rentday" column="rentday"/>
		<result property="returnday" column="returnday"/>
	</resultMap>
	
<!-- 	<resultMap type="Takeinout" id="UserResult" extends="TakeinoutResult">
		<result property="user.code" column="code"/>
		<result property="user.name" column="name"/>
		<result property="user.id" column="id"/>
		<result property="user.tel" column="tel"/>
		<result property="user.email" column="email"/>
		<result property="addr_id.total" column="addr_id"/>
	</resultMap>
	
	<resultMap type="Takeinout" id="bookResult" extends="TakeinoutResult">
		<result property="book.bkCode" column="bkcode"/>
		<result property="isbn" column="isbn"/>
		<result property="rentable" column="rentable"/>
		<result property="bkname" column="bkname"/>
		<result property="author" column="author"/>
		<result property="publish" column="publish"/>
		<result property="pubyear" column="pubyear"/>
		<result property="info" column="info"/>
	</resultMap> -->

</mapper>




