<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it_3st_1team.dao.BookDao">

	<!-- <resultMap type="Book" id="BookResult">
		<id property="bkCode" column="bkCode"/>
		<result property="isbn" column="isbn"/>
		<result property="rentable" column="rentable"/>
		<result property="bkname" column="bkname"/>
		<result property="author" column="author"/>
		<result property="publish" column="publish"/>
		<result property="pubyear" column="pubyear"/>
		<result property="info" column="info"/>
		<result property="loca_num" column="loca_num"/>
	</resultMap> -->
	
	<sql id="seleteBook">
		select bkCode, bkname, author, publish, pubyear, isbn, rentable, info, loca_num from Book
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="bkname != null">
				bkname = ${bkname}
			</if>
			<if test="bkCode != null">
				bkCode = ${bkCode}
			</if>
			<if test="author != null">
				author = ${author}
			</if>
			<if test="isbn != null">
				isbn = ${isbn}
			</if>
			<if test="publish != null">
				publish = ${publish}
			</if>
			<if test="pubyear != null">
				pubyear = ${pubyear}
			</if>
		</where>
	</sql>
	
</mapper>